@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=JetBrains+Mono:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/* Custom properties */
:root {
  /* colors */
  --main-color: #1c1c1c;
  --secondary-color: #222831;
  --grey-color: #9ba2ae;
  --special-color: #180d2a;
  --white: #fefefe;
  --text-color: #9399a5;
  --text-color-span: #582a58;
  /* fonts */
  --main-title: "Heebo", sans-serif;
  --text: "Poppins", sans-serif;
  --subtitle: "JetBrains Mono", monospace;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
/* ************************************************ */

body {
  background-color: var(--main-color);
  background-image: url("../assets/icons/background.png");
  min-height: 100vh;
}

.header {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}

.main-title {
  color: var(--white);
  font-family: var(--main-title);
  font-size: 4rem;
}

.subtitle {
  display: block;
  font-size: 2rem;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;
  color: var(--text-color-span);
  animation: typing 2s steps(18), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border: transparent;
  }
}

/** RRSS */

.container-rrss-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.rrss {
  color: var(--text-color);
  font-size: 1.5rem;
}

.linkedin,
.github {
  width: 3rem;
  transition: all 0.4s ease;
}

.linkedin:hover,
.github:hover {
  transform: scale(1.3);
}

.special {
  color: #fefefe;
  font-weight: bold;
  font-size: 4rem;
  color: var(--text-color-span);
}

/** ICONS */
.container-icons-header {
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.2rem;
}

.icon-about,
.icon-cv {
  width: 7rem;
  transition: 0.4s ease;
}

.icon-about:hover,
.icon-cv:hover {
  transform: scale(1.3);
}

/* ! header */

.section {
  min-height: 100vh;
}

.container-title-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.number {
  color: var(--text-color-span);
  font-size: 2.3rem;
  font-weight: bold;
}

.title-section {
  color: var(--text-color);
  font-size: 2rem;
}

.title-section::after {
  content: "";
  height: 1px;
  width: 40rem;
  background-color: var(--text-color);
  position: absolute;
  top: 1.8rem;
  left: 12rem;
}

/* About */
.container-info {
  margin-top: 3rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.8rem;
  min-height: 50vh;
  border-radius: 10px;
}

.container-info-img {
  width: 200px;
  height: 200px;
  filter: sepia(100%);
  border-radius: 20px;
  overflow: hidden;
  transform: rotate(10deg);
  -webkit-box-shadow: 1px 4px 15px 5px #000000;
  box-shadow: 1px 4px 15px 5px #000000;
  transition: all 1s ease;
}

.container-info-img:hover {
  transform: rotate(0deg);
  filter: sepia(0%);
}

.info-img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-info-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: var(--text-color);
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
  margin: 0.3rem 0;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.button:hover {
  background-color: var(--text-color-span);
  color: var(--white);
}

.info-text {
  width: 50%;
  padding: 2rem;
}

.subtitle-info {
  color: var(--text-color);
  letter-spacing: 1px;
}

.paragraph-info {
  color: var(--text-color);
  margin: 8px 0;
}

/* Skills */
.title-article {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.container-article {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  gap: 1rem;
}

.skill {
  width: 8rem;
  height: 8rem;
  border-radius: 15%;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: all 0.5s ease;
}

.skill:hover {
  transform: scale(0.9);
}

/* !main */

.footer {
  text-align: center;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.container-rrss-footer {
  display: flex;
  gap: 1rem;
}

.linkedin-footer,
.github-footer {
  width: 2rem;
}

.linkedin-footer:hover,
.github-footer:hover {
  filter: invert(92%) sepia(0%) saturate(7479%) hue-rotate(63deg)
    brightness(126%) contrast(97%);
}

.icon {
  filter: invert(18%) sepia(43%) saturate(828%) hue-rotate(251deg)
    brightness(96%) contrast(92%);
}

/* ! footer */
