@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=JetBrains+Mono:wght@700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");

/* Custom properties */
:root {
  /* colors */
  --main-color: #1c1c1c;
  --secondary-color: #222831;
  --grey-color: #9ba2ae;
  --special-color: #180d2a;
  --white: #fefefe;
  --text-color: #9399a5;
  --text-color-span: #582a58;
  /* fonts */
  --main-title: "Heebo", sans-serif;
  --text: "Poppins", sans-serif;
  --subtitle: "JetBrains Mono", monospace;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* ************************************************ */

body {
  background-color: var(--main-color);
  background-image: url("../assets/icons/background.png");
  min-height: 100vh;
}

/* ? HEADER */

.header {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}

.container-title-header {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: var(--white);
  font-family: var(--main-title);
  font-size: 4rem;
}

.subtitle {
  display: block;
  font-size: 2rem;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 18ch;
  color: var(--text-color-span);
  animation: typing 2s steps(18), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border: transparent;
  }
}

/** RRSS */

.container-rrss-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.rrss {
  color: var(--text-color);
  font-size: 1.5rem;
}

.linkedin,
.github {
  width: 3rem;
  transition: all 0.4s ease;
}

.linkedin:hover,
.github:hover {
  transform: scale(1.3);
}

.special {
  color: #fefefe;
  font-weight: bold;
  font-size: 4rem;
  color: var(--text-color-span);
}

/** ICONS */
.container-icons-header {
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: var(--text-color);
  font-size: 1.2rem;
}

.icon-about,
.icon-cv {
  width: 7rem;
  transition: 0.4s ease;
}

.icon-about:hover,
.icon-cv:hover {
  transform: scale(1.3);
}

/* ! header */

/* ?MAIN */

.section {
  min-height: 100vh;
  margin-top: 1rem;
}

.container-title-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.number {
  color: var(--text-color-span);
  font-size: 2.3rem;
  font-weight: bold;
}

.title-section {
  color: var(--text-color);
  font-size: 2rem;
}

/* About */
.container-info {
  margin-top: 3rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.8rem;
  min-height: 50vh;
  border-radius: 10px;
}

.container-info-img {
  width: 200px;
  height: 200px;
  filter: sepia(100%);
  border-radius: 20px;
  overflow: hidden;
  transform: rotate(10deg);
  -webkit-box-shadow: 1px 4px 15px 5px #000000;
  box-shadow: 1px 4px 15px 5px #000000;
  transition: all 1s ease;
}

.container-info-img:hover {
  transform: rotate(0deg);
  filter: sepia(0%);
}

.info-img {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-info-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: var(--text-color);
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0.3rem;
  margin: 0.3rem 0;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.button:hover {
  background-color: var(--text-color-span);
  color: var(--white);
}

.info-text {
  width: 50%;
  padding: 2rem;
}

.subtitle-info {
  color: var(--text-color);
  letter-spacing: 1px;
}

.paragraph-info {
  color: var(--text-color);
  margin: 8px 0;
}

/* Skills */
.title-article {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.container-article {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  border-radius: 10px;
  justify-content: space-around;
  gap: 1rem;
}

.skill {
  width: 8rem;
  height: 8rem;
  border-radius: 15%;
  background-color: var(--white);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  transition: all 0.5s ease;
}

.skill:hover {
  transform: scale(0.9);
}

/* projects */

.container-projects {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin: 2rem 0;
}

.project {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease;
  border: 2px solid var(--text-color);
}

.project:hover {
  transform: scale(1.2);
  border: 1px solid white;
}

.project-header {
  background-color: blue;
  width: 100%;
  height: 50%;
}

.project-body {
  background-color: var(--secondary-color);
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
}

.project-body-icons {
  display: flex;
  gap: 2rem;
}

.project-header-0 {
  background-image: url("../assets/img/portfolioImg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--text-color-span);
  background-position: -63px -2px;
}

.project-header-1 {
  background-image: url("../assets/img/five.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -8px;
}

/* contact */

.container-form {
  background-color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 80px auto;
  padding: 30px;
  font-size: 14px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form-title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
  color: var(--text-color);
}

.form-input {
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid var(--special-color);
  border-radius: 0.2em;
}

.form-input__message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}

.form-cta {
  background-color: var(--special-color);
  color: var(--white);
  border: none;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
}

/* !main */

/* ? FOOTER */

.footer {
  text-align: center;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.container-rrss-footer {
  display: flex;
  gap: 1rem;
}

.linkedin-footer,
.github-footer {
  width: 2rem;
}

.linkedin-footer:hover,
.github-footer:hover {
  filter: invert(92%) sepia(0%) saturate(7479%) hue-rotate(63deg)
    brightness(126%) contrast(97%);
}

.icon {
  filter: invert(18%) sepia(43%) saturate(828%) hue-rotate(251deg)
    brightness(96%) contrast(92%);
}

.hand {
  width: 2.5rem;
}

/* ! footer */

/* ? MENU   */

.menu-button {
  background-color: var(--text-color);
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  bottom: 01rem;
  right: 01rem;
  z-index: 1;
}

.active {
  background-color: var(--text-color-span);
}

.menu-button:hover {
  cursor: pointer;
}

.show-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1c1c1ce1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  font-size: 2rem;
  justify-content: space-around;
  transform: translateX(-100%);
  transition: all 0.8s ease;
}

.show-menu a {
  width: 100%;
  text-align: center;
  padding: 1rem;
  transition: all 0.6s ease;
}

.show-menu a:hover {
  background-color: var(--text-color-span);
}

.translate {
  transform: translateX(0%);
}

/* ! menu */

/* Tooltip */

.tooltip {
  font-weight: normal;

  text-decoration: none;
  position: relative;
}

.tooltip:hover {
  text-decoration: underline;
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}

.tooltip-box {
  display: none;
  position: absolute;
  background: var(--secondary-color);
  line-height: 20px;
  z-index: 500;
  text-align: center;
  color: #fff;
  font-size: 19px;
  padding: 5px 10px;
  border-radius: 5px;
  left: 15;
  right: 0;
  bottom: 130px;
  width: 15rem;
}

.tooltip-box::after {
  content: "";
  display: block;
  border-top: 7px solid var(--secondary-color);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: calc(50% - 7px);
}

.divider {
  background-color: var(--text-color);
  height: 1px;
  width: 60%;
}

/* ? Media Queries */

/* Mobile */
@media screen and (max-width: 767px) {
  .section {
    margin: 2rem 0;
  }

  .menu-button {
    width: 3rem;
  }
  .container {
    width: 90%;
  }

  .main-title {
    font-size: 3rem;
    text-align: center;
  }

  .container-rrss-header {
    width: 103%;
  }

  .linkedin,
  .github {
    width: 2.5rem;
  }

  .container-icons-header {
    width: 95%;
  }

  .icon-about,
  .icon-cv {
    width: 5.2rem;
  }

  .tooltip-box {
    font-size: 15px;
    right: -78px;
    bottom: 138px;
  }
  /* !header */

  .container-title-section {
    justify-content: start;
    gap: 1;
  }

  .title-section {
    font-size: 2rem;
    margin-left: 1rem;
  }

  .divider {
    width: 40%;
    position: relative;
    left: 27px;
  }
  /* !titles */

  .container-info {
    flex-direction: column-reverse;

    padding: 0.8rem;
  }

  .subtitle-info {
    margin: 1rem 0;
  }

  .info-text {
    padding: 0.5rem;
    width: 100%;

    font-size: 1.3rem;
  }

  .container-info-img {
    margin: 2rem 0;
  }

  .container-info-buttons {
    padding-bottom: 1rem;
  }

  .button {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  /* !about me */

  .container-article {
    padding: 1rem;
    gap: 2rem;
  }

  .title-article {
    font-size: 2rem;
  }

  .skill {
    width: 6rem;
    height: 6rem;
  }

  .project {
    width: 100%;
    border: none;
    margin: 1rem 0;
  }

  .project:hover {
    transform: scale(1);
    border: none;
  }

  .project-body h3 {
    font-size: 1.6rem;
  }

  .project-body p {
    font-size: 1.2rem;
  }

  .project-body-icons {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 2.5rem;
  }

  .container-form {
    width: 100%;
  }

  .footer {
    padding: 1rem;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .container-text-footer {
    margin: 1rem 0;
  }

  .container-rrss-footer {
    width: 100%;
    justify-content: space-around;
  }

  .form-title {
    font-size: 1.5rem;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .section {
    margin: 3rem 0;
  }

  .container-title-header {
    width: 61%;
  }

  .container-rrss-header {
    width: 60%;
  }

  .container-icons-header {
    width: 70%;
  }

  .title-section {
    margin: 0 1rem;
    font-size: 2.5rem;
  }

  .container-info {
    flex-direction: column-reverse;
  }

  .subtitle-info {
    margin: 1.2rem 0;
  }

  .info-text {
    width: 100%;
    font-size: 1.6rem;
  }

  .container-info-img {
    margin-bottom: 1.8rem;
  }

  .button {
    font-size: 1.7rem;
    margin: 1rem 0;
  }

  .container-article {
    padding: 1rem;
  }

  .title-article {
    font-size: 2.2rem;
    margin: 1.5rem;
  }

  .skill {
    width: 6rem;
    height: 6rem;
  }

  .project:hover {
    transform: scale(1);
    border: none;
  }

  .project {
    width: 21rem;
    margin-top: 1rem;
    border: none;
  }

  .project-body h3 {
    font-size: 1.7rem;
    margin-top: 1.2rem;
  }

  .project-body p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .project-body-icons {
    width: 100%;
    justify-content: space-around;
    margin: 0.8rem 0;
  }

  .footer {
    justify-content: space-around;
  }

  .container-rrss-footer {
    width: 20%;
    justify-content: space-around;
  }
}

/* Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1281px) {
  .number {
    font-size: 2.7rem;
  }
  .section {
    margin-top: 2rem;
  }
  .container-title-header {
    width: 42%;
  }
  .container-icons-header {
    width: 50%;
  }

  .title-section {
    font-size: 2.5rem;
    margin: 0 1.2rem;
  }

  .container-info-img {
    position: relative;
    bottom: 3rem;
  }

  .button {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }

  .info-text {
    width: 52%;
    padding: 1rem;
    font-size: 1.4rem;
  }

  .title-article {
    font-size: 2rem;
  }

  .project {
    margin: 1rem 0;
  }

  .project-body h3 {
    font-size: 1.5rem;
  }

  .project-body p {
    font-size: 1.2rem;
  }

  .project-body-icons {
    width: 50%;
    justify-content: space-around;
  }

  .footer {
    width: 30%;
    justify-content: space-around;
  }

  .container-rrss-footer {
    width: 30%;
    justify-content: space-between;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 1282px) and (max-width: 1441px) {
  .number {
    font-size: 2.8rem;
  }
  .section {
    margin: 3rem 0;
  }
  .container-icons-header {
    width: 49%;
  }

  .title-section {
    font-size: 2.7rem;
    margin: 0 1.2rem;
  }

  .container-info-img {
    position: relative;
    bottom: 3rem;
  }

  .button {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .info-text {
    font-size: 1.5rem;
  }

  .subtitle-info {
    margin: 1rem 0;
  }

  .title-article {
    font-size: 2.3rem;
  }

  .project {
    margin: 1rem 0;
  }

  .project h3 {
    font-size: 1.6rem;
  }
  .project {
    font-size: 1.3rem;
  }

  .project-body-icons {
    width: 35%;
    justify-content: space-between;
  }

  .footer {
    width: 40%;
    justify-content: space-around;
  }

  .container-rrss-footer {
    width: 20%;
    justify-content: space-between;
  }
}
